<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipos de Personalidad</title>

</head>
<body>
    <div class="container">
        <div class="card social">
            <h2>Social</h2>
            <p>Las personas que disfrutan ayudar a los demás, son cooperadores, sensibles y tienen excelentes destrezas interpersonales están ubicadas en este tipo. Esto incluye a médicos, docentes, psicólogos, trabajadores sociales, entre otros.</p>
            
        </div>
        
        <div class="card investigador">
            <h2>Investigador</h2>
            <p>Aquí se agrupan las personas que tienen habilidades analíticas, manejan ideas abstractas, y tienen valores no convencionales. Su mayor interés es la lógica y lo científico. Analizan, evalúan y atienden problemas, y les gusta mucho aprender y entender los distintos eventos, junto a sus causas. En las ocupaciones de este tipo se encuentran los médicos, psicólogos, científicos y matemáticos, entre otros.</p>
        </div>
        
        <div class="card realista">
            <h2>Realista</h2>
            <p>En este tipo se integran a las personas a las que les gusta trabajar con sus propias manos, manipular objetos, tienen habilidades mecánicas y generalmente no prefieren la interacción con los demás. También valoran el dinero, el estatus y el poder. Algunas ocupaciones de este tipo de personalidad son los ingenieros, arquitectos, agricultores, veterinarios, gastrónomos, médicos, entre otros.</p>
        </div>
        
        <div class="card artista">
            <h2>Artista</h2>
            <p>En este tipo de personalidad se incluyen las personas que poseen habilidades artísticas, son independientes, originales y poco estructurados. Usan el arte como manera de expresión, son creativos y les gusta la independencia. Generalmente, tienen excelentes destrezas de redacción. Los músicos, actores, periodistas, escritores, diseñadores gráficos y de interiores están ubicados en este tipo de personalidad y ambiente ocupacional.</p>
        </div>

        <div class="card convencional">
            <h2>Convencional</h2>
            <p>Son personas organizadas, detallistas, metódicas y se caracterizan por sus habilidades organizativas. Son buenos en matemáticas, disfrutan el orden y trabajar sin tener mucha interacción con los demás. Aquí se encuentran secretarias(os), contables, oficinistas, administradores, licenciados en logística y gestión entre otros.</p>
        </div>
        
        <div class="card emprendedor">
            <h2>Emprendedor</h2>
            <p>En este tipo de personalidad se ubican las personas que le gustan los riesgos, son agresivos al momento de alcanzar las metas que se establecen. Valoran el poder y tienen habilidades para convencer a los demás ante su punto de vista. Son extrovertidos, tienen liderazgo y buenas relaciones interpersonales. Los banqueros, vendedores, ingenieros, abogados, administradores, licenciados en ciencias políticas son algunas de las profesiones que se incluyen en este grupo.</p>
        </div>
    </div>
</body>
</html>
