<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página con Divisiones Izquierda y Derecha</title>

</head>
<body>
  <div class="container">
    <div class="left">
        <img src="/encuesta.png" alt="Imagen de la encuesta">
        <h2>¿Que se puede hacer ?</h2>
        <p>La página web que estás a punto de utilizar está diseñada para ayudarte a descubrir tus afinidades y preferencias mediante una serie de encuestas. Al contestar estas encuestas, se clasificará tu perfil en uno de los diferentes grupos predefinidos, según tus respuestas y características personales. Con base en estos resultados, recibirás recomendaciones personalizadas de cursos en línea que se ajustan a tus intereses y necesidades .</p>
    </div>

    <div class="right">
    <h1>Bienvenido!</h1>
      <img src="/usuario.png" alt="Imagen Derecha">
      <div class="buttons">

        <a href="/login">Iniciar Sesion</a>
        <a href="/registro">Registrarse</a>
      </div>
    </div>


  </div>
</body>
</html>


